$purpleColor: #5c5297;
$purpleDay: #523cd0;
$purpleNigh: #9487dc;

.installCntr{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 80vh;

    .tab{
        width: 20%;
        background-color: #1f1e25;
        color: white;
        text-align: left;
        a {
            text-decoration: none;
            color: white;
            padding-left: 20px;
        }
        ul {
            li {
                .active {
                    background-color: $purpleColor;
                    // color: red;
                    color: white;
                }
                a {
                    width: 100%;
                    display: inline-block;
                    padding: 20px;
                    // padding-left: 20px;
                }
                a:hover, a:focus{
                    color: white;

                }
            }
        }
    }
    .tabDay {
        background-color: #c3c8d1;
        a {
            color: rgb(35, 35, 35);

        }
    }
    .tabNight {
        background-color: #1f1e25;
        a {
            color: rgb(229, 229, 229);
        }
    }
    .dayMode{
        background-color: #dbdfe5;
        color: black;
        .buttonContainer {
            button {
                color: black;
                i {
                    font-size: 1.2rem;
                }
            }
        }
        .preWrap{
            background: #e8ecf2;
            padding: 20px;
            // color: ;
            button{
                color: black;
            }
        }
        pre {
            background: #e8ecf2;
            button {
                color: black;
            }
            code {
                font-weight: 300;
                .main {
                    color: $purpleDay;
                    display: block;
                }
                .tag{
                    color: $purpleDay;

                }
            }
        }
    }
    .nightMode{
        background-color: #26252c;
        color: rgb(202, 202, 202);
        .buttonContainer {
            button {
                color: white;
            }
        }
        .preWrap{
            background: #383641;
            padding: 20px;
            button{
                color: white;
            }
        }
        pre {
            background: #383641;
            button {
                color: white;
            }
            code {
                .main {
                    color: $purpleNigh;
                    display: block;
                }
                .tag{
                    color: $purpleNigh;

                }
            }
        }
    }
    .window{
        width: 80%;
        text-align: initial;
        overflow: auto;
        position: relative;
        padding: 30px;

        a {
            color: $purpleColor;
        }
        .preWrap{
            position: relative;
            .successBtn{
                background-color: $purpleColor;
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 20px;
                color: white;
                transition: .5s;
                z-index: 5;
                visibility: hidden;
                opacity: 0;
            }
            .on{
                z-index: 15;
                visibility: visible;
                opacity: 1;
            }
            button{
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                border: none;
                cursor: pointer;
                z-index: 10;
            }
        }
        pre {
            position: relative;
            border-radius: 5px;
            padding: 20px;
            .successBtn{
                background-color: $purpleColor;
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 20px;
                color: white;
                transition: .5s;
                z-index: 5;
                visibility: hidden;
                opacity: 0;
            }
            .on{
                z-index: 15;
                visibility: visible;
                opacity: 1;


            }
            button{
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                border: none;
                cursor: pointer;
                z-index: 10;
            }
            
        }
    }
    .buttonContainer{
        position: absolute;
        top: 10px;
        right: 10px;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 5px;
        }
    }
}